body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 30px;
}

html,
body {
  height: 100%;
}

.full-width {
  width: 100%;
}

.fruits-sample {
  margin-top: 5%;
}
