body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 30px;
}

html,
body {
  height: 100%;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}
.fruits-sample {
  margin-top: 5%;
}

.row-add-fruits {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.full-height {
  height: 100%;
}
